<?xml version="1.0"?>
<ruleset name="VAT Line Rounding">
	<description>WordPress Coding Standards for the VAT Line Rounding plugin.</description>

	<file>.</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/.phpunit.cache/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_wp_version" value="7.0"/>
	<config name="testVersion" value="8.2-"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="tempered_vlr"/>
				<element value="TEMPERED_VLR"/>
				<element value="Tempered_Vat_Line"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<element value="manage_woocommerce"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Files.OneObjectStructurePerFile.MultipleFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Universal.Files.SeparateFunctionsFromOO.Mixed">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_fwrite">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.PHP.DevelopmentFunctions.error_log_var_export">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter.Found">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>
